.form-area {
  padding: 1.5rem;
  width: 375px;
  margin: 0 auto;
}

.field label {
  color: #adadad;
}

.button {
  height: 2.5rem;
}

.actions .button {
  padding: 0 2rem;
  margin: .5rem 0 .75rem 0;
  font-weight: lighter;
}

.field label {
  margin-bottom: -1rem;
}

.about-text {
  margin-bottom: 1rem;
}