/* track listings */

.track-list {
  margin-left: 0;
  margin-right: 0;
  list-style: none;
}

.track-single {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px #666 solid;
}

.track-single a, .track-single li {
  font-size: .85rem;
}

.track-single li {
  color: #adadad;
}

.row .track-name a {
  height: 1.5rem;
  font-size: 1.25rem;
}

audio {
  width: 100%;
  margin: .5rem 0 .25rem 0;
}



/* track show page */

.track-show-wrapper {
  padding: 1.75rem;
}

.track-hero {
  width: 100%;
  height: 450px;
  font-size: 0;
  overflow: hidden;
  position: relative;
}

.track-hero img {
  width: 100%;
  position: absolute;
  top: -50%;
  z-index: 0;
}

.track-hero h2 {
  position: absolute;
  top: 1.75rem;
  left: 1.75rem;
  margin: 0;
  color: white;
  font-weight: lighter;
}

.large-player {
  display: block;
}

.track-hero audio {
  position: absolute;
  bottom: 25px;
  margin: 0;
}

.track-hero audio::-webkit-media-controls-enclosure {
  max-width: 95%; /*or inherit*/
}

.placeholder-image {
  width: 70px;
  height: 70px;
  background: white;
}

.user-profile-pic {
  padding-left: 0;
}

.user-profile-pic > p {
  margin: 0;
}

.user-pic-track-show img {
  width: 150px;
  margin-bottom: 1rem;
}

.comments-header {
  line-height: .8;
}

.comment-field {
  margin-bottom: 1.5rem;
}

.comment-field-margin {
  padding: 0;
}

.comment-field-margin textarea {
  height: 71px;
}

.button-align {
  text-align: right;
}