.user-list {
  margin-left: 0;
  margin-right: 0;
}

.user-single {
  list-style: none;
  font-size: 0.85rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px #666 solid;
}

.user-single li {
  color: #c4c4c4;
}